<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Producto</title>
    <link rel="stylesheet" th:href="@{/css/crearProducto.css}">
</head>
<body>
    <div th:replace="~{nav/nav-bar.html}"></div>

    <h1>Crear Nuevo Producto</h1>
    <div   >
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" ><br><br>
        <label for="stock">Stock:</label>
        <input type="number" id="stock" name="stock"  ><br><br>
        <label for="precio">Precio:</label>
        <input type="number" id="precio" name="precio"  ><br><br>
        <label for="precio">Costo:</label>
        <input type="number" id="costo" name="costo"  ><br><br>
        <button onclick=guardarProducto()>Guardar Producto</button>
    </div>

    <script>
        function guardarProducto() {
            var nombre = document.getElementById('nombre').value;
            var stock = document.getElementById('stock').value;
            var precio = document.getElementById('precio').value;
            var stock = document.getElementById('stock').value;
            var costo = document.getElementById('costo').value;

            var producto = {
               nombre:nombre,
               stock:stock,
               precio: precio,
               costo: costo

            };
            console.log(producto)
            fetch('/producto/create', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(producto)
            })
            .then(response => {
                if (response.ok) {
                    console.log('Cliente actualizado exitosamente');
                    window.location.href = '/producto/all'; // Redirigir a la lista de clientes
                } else {
                    console.error('Error al guardar cliente');
                }
            })
            .catch(error => {
                console.error('Error en la solicitud:', error);
            });
        }
    </script>
</body>
</html>
