<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
    <link rel="stylesheet" th:href="@{/css/producto.css}">

</head>
<body>
    <div th:replace="~{nav/nav-bar.html}"></div>

    <h1>Lista de Productos</h1>
    <a href="/producto/create">Nuevo Producto</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Stock</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="producto , i: ${productos}">
                <td th:text="${i.index+1}"></td>
                <td th:text="${producto.nombre}"></td>
                
                <td th:text="${producto.stock}"></td>
                <td th:text="${producto.precio}"></td>
                <td>
                    <a th:href="@{'/producto/edit/' + ${producto.id}}">Editar</a>
                    <a th:href="@{'/producto/delete/' + ${producto.id}}">Eliminar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
